.externcss{
    color: blue;
}
.m0p0{

    border: 2px solid;
    height: 200px;
    width: 200px;
    background-color: darkgreen;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
}
.box{
    height: 200px;
    width: 200px;
    background-color: darkred;
    margin: 40px 0 0 40px;
}